.video-thumbnail {
  justify-content: space-around;
  overflow: auto;
  overflow-y: hidden;
  display: inline;
}
.PersistentDrawer-root-215 {
  width: 100%;
  height: 100% !important;
  z-index: 1;
  overflow: hidden;
  margin-top: 24px;
}
video {
  display: inline-block;
  vertical-align: baseline;
  width: 100%;
}
.video-thumbnail video {
  width: 100px;
  height: 100px;
  padding: 1px;
  border: 1px solid grey;
}