.imageCourse img {
  width: 100%;
  height: auto;
  cursor: pointer; }

.root{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .root {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .root {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .root {
    width: 1170px;
  }
}