.courseDescription {
  margin: auto;
  height: 55px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: justify;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 150%;
  font-weight: none;
  font-size: 15px; }

a {
  color: #fff; }
  a:hover {
    color: #fff;
    text-decoration: none; }

Link {
  font-size: 24px; }

.priceCourse {
  font-size: 24px;
  color: #a52c2c;
  font-weight: bold;
  font-family: Times New Roman;
  text-align: right; }
  .MuiGrid-spacing-xs-24-183{
    width: 100% !important;
  }
.btn {
  color: #fff !important;
  width: 30%;
  background-color: #1CBFBD !important; }
  .btn:hover {
    color: #fff !important;
    background-color: #008080 !important; }

@media only screen and (min-width: 414px) and (max-width: 736px) {
  .MuiGrid-spacing-xs-24-26 > .MuiGrid-typeItem-4 {
    padding: 12px 34px 12px 34px !important; } }
@media only screen and (min-width: 320px) and (max-height: 480px) {
  #root {
    width: 100%; } }
.MuiGrid-spacing-xs-24-26 {
  width: 100% !important;
  margin: 0 !important; }

.imageShow img {
  width: 100%;
  height: 186px;
  cursor: pointer; }

.card {
  width: 100%; }


  .data-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
  }
  
  .data-info {
    flex: 1 1 200px;
    height: 200px;
    border-radius: 2px;
    border: 1px solid #777777;
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
    color: #222222;
  }
  
  .data-loading {
    display: block;
    text-align: center;
   
    border: 0;
    font-size: 5rem;
  }
  .MuiGrid-spacing-xs-24-183{
    margin: 0px!important;
  }
  .MuiTypography-subheading-391,.MuiTypography-subheading-137,
  .MuiTypography-subheading-85, .MuiTypography-subheading-294
   {
    font-size: 1.5rem!important
  }

