.courseDescription {
  margin: auto;
  height: 55px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: justify;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 150%;
  font-weight: none;
  font-size: 15px; }

a {
  color: #fff; }
  a:hover {
    color: #fff;
    text-decoration: none; }

Link {
  font-size: 24px; }

.priceCourse {
  font-size: 24px;
  color: #a52c2c;
  font-weight: bold;
  font-family: Times New Roman;
  text-align: right; }

.btn {
  color: #fff !important;
  width: 30%;
  background-color: #1CBFBD !important; }
  .btn:hover {
    color: #fff !important;
    background-color: #008080 !important; }

@media only screen and (min-width: 414px) and (max-width: 736px) {
  .MuiGrid-spacing-xs-24-26 > .MuiGrid-typeItem-4 {
    padding: 12px 34px 12px 34px !important; } }
@media only screen and (min-width: 320px) and (max-height: 480px) {
  #root {
    width: 113%; } }
.MuiGrid-spacing-xs-24-26 {
  width: 100% !important;
  margin: 0 !important; }

.imageShow img {
  width: 100%;
  height: 186px;
  cursor: pointer; }

.card {
  width: 100%; }

