#header {
    width: 100%;
    margin: 0 auto;
    height: 100px; 
}
.Logo {
    width: 25%; 
    float: left;
    background-color: #1cbfbd;
    text-align: center;
    height: 100px;
}
ul {
    padding: 30px 0;
}
ul a {
    color: aliceblue;
    text-decoration: none;  
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
ul a:hover {
    color:rgb(215, 215, 216);
    text-decoration: none;  
}
.Nav {
    background-color: #1cbfbd;
    width: 75%;
    float: right;
    height: 100px;
    text-align: right;
}

.Nav ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.Nav ul li {
    display: inline;
    margin: 20px;
    color: aliceblue;
}
.Nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
.Nav ul li a:hover {
    font-size: 20px;
    color: rgb(215, 215, 216);
}

@media (max-width: 375px) {
    .Logo {
        width: 100%;
    }
    .Nav {
        display: 100%;
    }
    .Nav ul li {
        display: inline;
        margin: 10px;
        color: aliceblue;
    }
}
@media (max-width: 445px) {
    .Logo {
        width: 100%;
    }
    .Nav {
        display: 100%;
    } 
    .Nav ul li {
        display: inline;
        margin: 10px;
        color: aliceblue;
    } 
}
@media (max-width: 900px) {
    .Logo {
        width: 100%;
    }  
    .Nav {
        width: 100%;
        text-align: center;
    }
}
@media (min-width: 900px) {
    .Logo {
        width: 25%;
    }  
    .Nav {
        width: 75%;
        text-align: right;
    }
}
