.header {
    width: 100%;
    margin: 0 auto;
    height: 130px; 
}
.Nav {
    background-color: #1cbfbd;
    width: 80%;
    height: 130px; 
    overflow: hidden;
    float: right;
    text-align: right;
}

.Nav ul {
    list-style: none;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.Nav ul li {
    display: inline;
    margin-left: 50px;
}
.Nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    text-align: center;

}
.Nav ul li a:hover {
    font-size: 20px;
    color: rgb(215, 215, 216);
}
.Logo {
    width: 20%; 
    float: left;
    background-color: #1cbfbd;
}
@media all and (max-width: 360px) {
    .Logo {
        width: 320px;
    }   
}
@media (max-width: 360px) {
    .Nav {
        display: none;
    }
}