.footer {
    width: 100%; 
    margin: 0; 
    background-color: #f0fafc;
}
.logo {
    width: 100%;
}
.colLeft{
    float: left;
}
.colRight {
    float: right;
}
.colLeft ul {
    list-style: none;
    line-height: 1.5rem;
    
}
.colLeft ul li {
    display: inline;
    margin-right: 40px;
}
.colRight ul {
    list-style: none;
    line-height: 1.5rem;
}
.colRight ul li {
    display: inline;
    margin-right: 30px;
}
.noteFooter {
    clear: both;
    text-align: center;
    font-size: 0.7rem;
    line-height: 0.75rem;
}
@media (max-width: 360px){
    .colLeft {
        width: 320px;
    }
}

@media (max-width: 360px){
    .colRight {
        width: 320px;
    }
}