#footer {
    width: 100%; 
    margin: 0; 
    background-color: #f0fafc;
}
.colLeft{
    float: left;
}
.colRight {
    float: right;
}
.colLeft ul {
    list-style: none;
    line-height: 1.5rem;
    
}
.colLeft ul li {
    display: inline;
    margin: 20px;
}
.colRight ul {
    list-style: none;
    line-height: 1.5rem;
}
.colRight ul li {
    display: inline;
    margin: 20px;
}
.noteFooter {
    clear: both;
    text-align: center;
    font-size: 0.7rem;
    line-height: 0.75rem;
}
@media (max-width: 360px) {
    .colLeft {
        display: none;
    }  
    .colRight {  
        float: none;
        width: 100%;
    } 
}
@media (max-width: 420px) {
    .colLeft {
        display: none;
    }  
    .colRight {
        float: none;
        width: 100%;
    } 
}
@media (max-width: 600px) {
    .colLeft {
        width: 100%;
        text-align: center;
    }  
    .colRight {
        width: 100%;
    } 
}
@media (max-width: 850px) {
    .colLeft {
        width: 100%; 
        text-align: center;
    }
    .colRight {
        width: 100%;
        text-align: center;
    }
}