.PersistentDrawer-root-3 {
  width: 100%;
  height: 100% !important;
  z-index: 1;
  overflow: hidden;
  margin-top: 24px;
}
.MuiAppBar-colorPrimary-25 {
  color: #fff;
  background-color: #4aaac2 !important;
}
.MuiAppBar-colorPrimary-166 {
  color: #fff;
  background-color: #4aaac2 !important;
}
.MuiTypography-title-84 {
  font-size: 20px !important;
}
.MuiExpansionPanelSummary-content-204 {
  margin: 12px 0;
  display: block !important;
  flex-grow: 1;
  transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.MuiList-padding-119 {
  padding: 10px !important;
}
/* ul a {
  color: black !important;
  text-decoration: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
} */
