.HomepageSection {
    width: 100%;
    float: left;
}

.HomepageSectionClearfix {
    width: 1200px;
    margin: auto;
    padding: 0
}

.HomepageSectionClearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.Height10 {
    height: 10px;
    width: 100%;
    float: left;
}

.CategorySection {
    padding: 15px;
    float: left;
    display: inline;
    box-sizing: border-box;
    width: 100%;
}

.CategorySection h1 {
    font-size: 50px;
    line-height: 50px;
    font-family: 'Montserrat',sans-serif;
    color: #727475;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.CategorySection h3 {
    font-size: 20px;
    line-height: 20px;
    color: #a3a3a3;
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .HomepageSectionClearfix {
        width: 960px
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .HomepageSectionClearfix {
        width: 748px
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        -webkit-text-size-adjust: none
    }
    .HomepageSectionClearfix {
        width: 460px
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    body {
        -webkit-text-size-adjust: none
    }
    .HomepageSectionClearfix {
        width: 300px
    }
}
